@media only screen and (max-width:992px) {
    .login{
        width: 90%;
        margin-left: 20%;
    }
    #link2 a{
        width:100% ;
    }
    .last{
        display: none;
    }
    .same_link #a{
        width: 95%;
    }
}
@media only screen and (max-width:959px) {
    .same_link{
        width: 105%;
    }
    .same_link #a{
        width: 100%;
    }
}
@media  screen and (max-width:767px) {
    .section{
        display: flex;
        flex-direction: column;
        height: 1000px;
        justify-content: space-evenly;
        
    }
    .login{
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
    }
    .same{
        width: 100% !important;
        margin: 0 !important;
        padding: 0;
    }
    .same_link #a{
        width: 100%;
    }
    .panel, #password, #reg_no, #button,
    #links, #txt, #div2 {
        margin-left:3% !important ;
        width: 93%;
    }
    .panel p{
        font-size: 25px;
    }
    hr{
        width: 93% !important;
        margin-left: 3% !important;

    }
    .same1{
        display: flex;
        margin: 0 !important;
        width: 100% !important;
    }
    #part1{
        width: 50% ;
        margin: 0 ;
        padding-left: 3%;
        box-sizing: border-box;

    }
    #part1 img{
        margin-top: -40px;
    }
    #part2{
        width: 50%;
        margin: 0;
        padding-left: 4%;
        box-sizing: border-box;

    }
    .same_link {
        width: 100%;
        margin-top: -40px !important;
    }
    .same_link #a{
        width: 95% !important;
        line-height: 1.5;
    }
    .last{
        width: 90%;
        display: block;
        margin: 20px 0;
    }
    .last a{
        font-size: 14px;
        word-spacing: 0;
    }

    #link2 {
        width: 100%;
    }
    
}
@media screen and (max-width:728px) {
    .last{
        word-spacing: 2px;
    }

}
@media screen and (max-width:694px) {
    .last{
        word-spacing: 2px;
    }
    .last a{
        font-size: 15px;
    }
    .same_link{
        margin-top: -50px !important;
    }
    #part1 img{
        margin-top: -50px;
    }

}
@media screen and (max-width:647px) {
    .footer p{
        width: 70%;
    }
    #part1 img{
        margin-top: -60px;
    }

}
@media screen and (max-width:600px) {
    .footer p{
        width: 75%;
    }
    .same_link{
        margin-top: -70px !important;
    }

}
@media screen and (max-width:540px) {
    #part1 img{
        margin-top: -75px;
    }
    #link2 a{
        font-size: 14px;
    }
    .last a{
        font-size: 14px;
    }
    .same_link #a, #vnz{
        font-size: 14px;
    }
}
@media screen and (max-width:479px) {
    .section{
        height: 1350px;
        justify-content: space-between;
    }
    #part1 {
        width: 97.5% !important;
        height: 350px;
    }
    #part1 img{
        margin: 1px 0;
    }
    #part2{
        width: 90%;
    }
    .same_link{
        width: 100%;
        margin-top: 10px !important;
    }
    .same_link #a, #vnz{
        font-size: 15px;
    }
    .panel p{
        text-align: center;
    }
    #div2, #txt{
        text-align: center;
        margin-bottom: 50px !important;
    }
    .same1 {
        display: flex;
        flex-direction: column !important;
    }
    #link2{
        width: 100% !important;
    }
    #link2 a{
        font-size: 16px !important;
        /* width: 100% !important; */
    }
    .last a{
        font-size: 15px ;
    }
    .footer p{
        width: 90%;
    }
}
@media screen and (max-width:468px) {
    .footer p{
        width: 95%;
    }
}
@media screen and (max-width:442px) {
    .footer p{
        width: 100%;
    }

}
@media screen and (max-width:375px) {
    /* #div2{
        width: 94%;
        border: 1px solid;
    } */

}